html {
  background-color: beige;
}

h1 { 
    color: red; font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  border-color: blue;
  border-style: double;
  background-color: rgba(172, 255, 47, 0.353);
}

.logo {
  margin-left: 100px;
}

nav {
  display: flex;
  margin-left: 810px;
}
  
.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-style: oblique;
  color: blue;
  text-decoration: solid;
  padding: 30px;
  border-color: aqua;
  border-style: double;
  background-color: blanchedalmond;
}

.nav-item a:hover {
  background-color: aquamarine;
  box-shadow: green;
}

h2 {
  text-align: center; 
  color: blue; 
  font-family: Arial, Helvetica, sans-serif;
}

#profile {
  display: inline-block; 
  margin-left: 200; 
  margin-right: 0px;
}

p {
  text-align: justify; 
  color: brown; 
  margin-left: 0px;
  display: inline-block; 
  font-size: 24;
}

.about {
  color: blueviolet; 
}

.portfolio {
  color: blue;
}

footer {
  text-align: center;
}

